p{
    background-color: pink;
}
body {
    background-color: blue;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
h{
    font-size:20px;
    text-shadow: 560px 40px 60px black;
}
body {
    color:white;
}